.modalWrapper {
  position: fixed;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.8);
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 40px;
  max-width: 700px;
  background-color: white;
  z-index: 1;
  border-radius: 15px;
  border: 2px solid #dc0000e7;
}

.modalButton {
  margin: 10px;
}

.deleteButton {
  color: #dc0000e7;
  border: 1px solid #dc0000e7;

  &:hover {
    background-color: #dc0000e7;
    color: white;
  }
}

.cancelButton {
  border: 1px solid #009fdc;
  color: #009fdc;

  &:hover {
    background-color: #009fdc;
    color: white;
  }
}
