.wrapper {
  display: none;

  &.open {
    background-color: rgba(212, 212, 199, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
  }
}

.body {
  background-color: blue;
  width: 40vw;
  margin: 0 auto;
  padding: 10px;
  border-radius: 30px;
}

.messageWrapper {
  padding: 50px;
}

.closeButton {
  background-color: transparent;
  font-size: 35px;
  font-weight: bold;
}
