@font-face {
  font-family: "Newsreader";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap")
    format("woff2");
}

@font-face {
  font-family: "NewsReader bold";
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap")
    format("woff2");
}

@font-face {
  font-family: "Newsreader italic";
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url("https://fonts.googleapis.com/css2?family=Newsreader:ital@1&display=swap")
    format("woff2");
}

@font-face {
  font-family: "Newsreader extra-bold";
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url("https://fonts.googleapis.com/css2?family=Newsreader:wght@800&display=swap")
    format("woff2");
}
