.wrapper {
  width: 100%;
  background-color: #cac1b0;
  padding: 50px 0;
}

.logo {
  width: 200px;
  height: 24px;
  background-color: white;
  margin: 0 auto;
}

.menuLogo {
  div {
    width: 15px;
    height: 2px;
    background-color: black;
    margin: 5px 20px;
  }
}
