.modalWrapper {
  position: absolute;
  width: 100vw;

  background-color: rgba(3, 12, 58, 0.5);
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 20px;
  max-width: 700px;
  background-color: white;
  z-index: 1;
}
